body {
    text-align: center;
}

h2 {
    margin: 0px;
}

#clock {
    font-size: 8rem;
}

.btn {
    margin: 5px;
    color: white;
    width: 45%;
    font-size: 2.5rem;
}

.btn#ht-he {
    background-color: #d0182f;
}
.btn#lt-he {
    background-color: #fcd900;
}
.btn#ht-le {
    background-color: #3a3a3a;
}
.btn#lt-le {
    background-color: #054475;
}